.card {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 350px;
  margin: auto;
  text-align: center;
}

.options {
  justify-content: space-between;
  margin-top: 15px;
}

.optionButtons{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}

.optionButton {
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 18px; 
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionButton:hover {
  background-color: #e0e0e0;
}

.optionButton.selected {
  background-color: #d0e7ff;
  border-color: #0070f3;
}

.lectureSelection{
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
}

.submitButton, .nextButton, .lectureButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.submitButton:hover {
  background-color: #005bb5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  width: 300px;
  text-align: center;
}

.modButton {
  padding: 30px 45px;
  background-color: #0070f3;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 2em;
}

.modButton:hover {
  background-color: #005bb5;
}

.optionsContainer {
  margin-top: 20px;
  width: 100%;
}

.option {
  padding: 15px;
  background-color: #f0f0f0;
  margin: 15px 0;
  border-radius: 8px;
  cursor: pointer;
  font: 1.5em sans-serif;
  transition: background-color 0.3s, transform 0.2s;
  border: 1px solid black;
}

.option:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.optionButton {
  /* Basic button styles */
}

.selected {
  /* Style for the selected button */
}

.correct {
  background-color: green; /* Correct answer turns green */
  color: white;
}

.incorrect {
  background-color: red; /* Incorrect answer turns red */
  color: white;
}

.submitButton {
  /* Style for submit button */
}

.reviewButton{
 margin: 0 auto;
  font-size: 1em;
 padding: 10px 20px;
 background-color: #0070f3;
 color: #fff;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  
}

.questionTracker{
  margin-top: 100px;
}